<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Welcome to eMobilis {% endblock %}</title>
</head>
<body>
<header>
    <h1>{% block header %} Welcome to eMobilis {% endblock %}</h1>
<nav>
    <ul>
        <li><a href="{% url 'my_index'%}">home</a></li>
        <li><a href="{% url 'my_about'%}"> aboutus</a></li>
        <li><a href="{% url 'my_contact'%}">contact</a></li>
        <li><a href="{% url 'my_home' %}">index</a></li>
        <li><a href="{% url 'my_gallery' %}">gallery</a></li>
    </ul>
</nav>
</header>
<main>
    {% block content %} {% endblock %}
</main>
<footer>
    <p>&copy;2024 eMobilis </p>
</footer>



</body>
</html>