{% extends "base.html" %}
{% block content %}
    <header>
{% load static %}
        <img src="{% static 'img/Gaming.jpg' %}" width="100" height="100" alt="">
        <img src="{% static 'img/Microprocessors.jpg' %}" width="100" height="100">
        <img src="{% static 'img/Phones.jpg' %}" width="100" height="100" alt="">
        <img src="{% static 'img/lloyd-dirks-0vsk2_9dkqo-unsplash.jpg' %}" width="100" height="100" alt="">
        <img src="{% static 'img/Watches.jpg' %}"width="100" height="100" alt="">
        <img src="{% static 'img/Study devices.jpg' %}"width="100" height="100
" alt="">
    </header>
{% endblock %}